@charset "UTF-8";
/* Diese Regel nicht verändern! */
div {
  background-color: black;
  position: absolute;
}

/* Deine Parameter: */
/* Ab hier deine Regeln :-) */
body {
  width: 100px;
  margin: 0 auto;
}

.el {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.el-1 {
  left: 40.05013%;
  top: 1%;
  width: 19.89975%;
  height: 10px;
}

.el-2 {
  left: 12.43672%;
  top: 17%;
  width: 75.12656%;
  height: 10px;
}

.el-3 {
  left: 2.97873%;
  top: 33%;
  width: 94.04254%;
  height: 10px;
}

.el-4 {
  left: 0.01%;
  top: 49%;
  width: 99.98%;
  height: 10px;
}

.el-5 {
  left: 2.30304%;
  top: 65%;
  width: 95.39392%;
  height: 10px;
}

.el-6 {
  left: 10.76991%;
  top: 81%;
  width: 78.46018%;
  height: 10px;
}

.el-7 {
  left: 32.94128%;
  top: 97%;
  width: 34.11744%;
  height: 10px;
}
