/* Changeable parameters */
$radius: 50px;
$elemHeight: 1px;
$distance: 16;
$offset: 0.1;
$glowColor: #0C2249;

/* Function to calculate the square root */
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}

/* Width in Percent of a Circle at height yPos */
@function circleWidth($yPos) {
  $var1: 2 * 50 * $yPos;
  $var2: $yPos * $yPos;
  @if ($var1 > $var2) {
     @return 2 * sqrt($var1 - $var2) * 1%;
  }
  @return 0%;
}

/* Mixins */
@mixin circleElem($index) {
  $hoehe: $index * $distance + $offset;
  $thisWidth: circleWidth($hoehe);
  left: 50% - $thisWidth / 2;
  top: $hoehe * 1%;
  width: $thisWidth;
  height: $elemHeight;
}

/******** Rules ********/
div {
  background-color: black;
  position: absolute;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el {
  width: $radius * 2;
  height: $radius * 2;
  background-color: #fff;
}

@for $i from 0 through 6 {
  .el-#{$i} {
    @include circleElem($i);
    animation: glow-#{$i} 1s infinite;
  }

  @keyframes glow-#{$i} {
    0% {
      box-shadow: 0 0 0 0 $glowColor;
      transform: scaleY(1);
    }
    #{($i*10 + 10)}% {
      box-shadow: 0 $elemHeight 2px 0px $glowColor;
      transform: scaleY(2);
    }
    100% {
      box-shadow: 0 0 0 0 $glowColor;
      transform: scaleY(1);
    }
  }
}
